* {
	margin: 0;
	padding: 0;
}

nav {
	display: inline;
	font-weight: 700;
	font-size: 26px;
	color: #8D81FF;
	text-decoration: none;
	margin-right: 10px;
}

a {
	font-weight: 700;
	font-size: 26px;
	color: #8D81FF;
	text-decoration: none;
	margin: 0px 40px;
}

#active {
	color: #4E6FAE;
}

.rectangle {
  width: 30px;
  height: 30px;
  background: #5012D5;
  color: #84FF81;
  text-align: center;
}

.logos {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.LOGO1 {
    width: 50px;   
    height: 50px;
}

.LOGO2 {
	width: 71px;
	height: 49px;
}

.divider {
    width: 2px;             
    background-color: black; 
    height: 50px; 
}

.date {
	color: #8D81FF;
	font-size: 32px;
}

.desc {
	color: #4E6FAE;
	font-size: 20px;
}

.txt {
	color: #4E6FAE;
	font-size: 16px;
}

.HTML {
	color: #30CBC2;
}

.rectangle2 {
	background: #E7E7E7;
	width: 500px;
	height: 192px;
}

.text {
    position: absolute;
    top: 800px;
    left: 50px;
}